node_modules
.env
test.yaml
devops/k8s
services/client/dev/js
services/client/dist
services/client/static-assets/application/download
secrets
service-account.json
tests/connections/package-lock.json
*.egg-info
dist
*.pyc
__pycache__
.vscode
corkbuild.Dockerfile
*.cork-build.json
.DS_Store