a.prefixed-icon {
  display: inline-flex;
  align-items: center;
}
a.prefixed-icon app-icon {
  margin-right: var(--spacer--small, 1rem);
  --app-icon-size: var(--font-size, 1rem);
  color: var(--ucd-blue-70, #73ABDD);
}

.user-logged-out ucd-theme-quick-links {
  --ucd-theme-quick-links-icon-bg-color: var(--ucd-blue-70, #73ABDD);
}
