.app-table {
  font-size: 1rem;
}
.app-table .row {
  display: grid;
  column-gap: .5rem;
  align-items: stretch;
  border-bottom: 1px solid var(--ucd-blue-60, #B0D0ED);
  padding: 0 .5rem;
}
.app-table .row:last-child {
  border-bottom: none;
}
.app-table .row--header {
  border-bottom: 2px solid var(--ucd-gold-80, #FFD24C);
}
.app-table .row.row--header .cell {
  color: var(--black, #000);
  font-weight: 700;
  padding: .5rem 0;
  justify-content: flex-end;
}
.app-table .cell {
  display: flex;
  flex-direction: column;
}
.app-table .cell--center {
  justify-content: center;
  align-items: center;
}
.app-table .row .cell {
  padding: 1rem 0;
  justify-content: center;
}
