.italic {
  font-style: italic;
}
.bold {
  font-weight: 700;
}
a.bold-link {
  color: var(--ucd-blue-80, #13639E);
  text-decoration: none;
  font-weight: var(--font-weight--bold, 700);
}
a.bold-link:hover {
  text-decoration: underline;
  color: var(--ucd-blue-80, #13639E);
}
.font-size--small {
  font-size: var(--font-size--small, 0.875rem);
}
.caption {
  font-size: var(--font-size--small, 0.875rem);
  color: var(--ucd-black-70, #4C4C4C);
  font-weight: 400;
}
.admin-badge {
  background: var(--ucd-black-20, #E5E5E5);
  font-weight: 700;
  color: var(--ucd-black-70, #4C4C4C);
  font-size: var(--font-size--small, 0.875rem);
  display: inline-flex;
  padding: 0 .25rem;
}
